/* body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #198754;
}

.hero {
    background-color: #0c3f27;
    text-align: center;
    padding: 80px 20px;
    color: #ffffff;
}

.subcategory-list {
    padding: 60px 20px;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.subcategory-list h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #242020;
}


.card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 40px;
    padding: 0 10px;
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 25px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-icon {
    font-size: 36px;
    color: #198754;
    margin-bottom: 15px;
}

.card-content h3 {
    font-size: 20px;
    margin: 10px 0 8px;
    text-align: center;
}

.card-content p {
    font-size: 14px;
    text-align: center;
    color: #666;
}

.back-link {
    text-align: center;
    margin-top: 60px;
}

.back-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #198754;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #555;
}

footer {
    background-color: #0c3f27;
    color: #fff;
    text-align: center;
    padding: 25px 10px;
    font-size: 14px;
}


@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 16px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 13px;
    }
} */
