/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

h1 {
    color: white;
}

h2, h3 {
    color: #000000;
}

button {
    background-color: #198754;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #145c41;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #198754;
}

.join-btn {
    background-color:#198754;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.join-btn:hover {
    background-color: #0c3f27;
}


.hero {
    text-align: center;
    padding: 50px;
    background-color: #0c3f27;
    color: white;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-bar button {
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #145c41;
}


.categories {
    text-align: center;
    padding: 60px 20px;
    background: #ffffff;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.category {
    background: #198754;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.category:hover {
    background: #145c41;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0c3f27;
    color: #ffffff;
    font-size: 14px;
    margin-top: auto; 
    width: 100%;
} */
